.wav filter=lfs diff=lfs merge=lfs -text
.mov filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
public/logos/.wav filter=lfs diff=lfs merge=lfs -text
public/
[[:space:]][[:space:]]videos/.mov filter=lfs diff=lfs merge=lfs -text
